body {
	font-family: "Arvo", -apple-system, BlinkMacSystemFont, "Monaco", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	padding-top: 54px;
	color: #343a40;
}

@media (min-width: 992px) {
	body {
		padding-top: 0;
		padding-left: 17rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Arvo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	text-transform: uppercase;
	color: #343a40;
}

h1 {
	font-size: 6rem;
	line-height: 5.5rem;
}

h1:nth-child(1) {
	color: #000;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
}

p.lead {
	font-size: 1.15rem;
	font-weight: 400;
}

#name {
	color: #fff;
}

.subheading {
	text-transform: uppercase;
	font-weight: 600;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.5rem;
}

.social-icons a:nth-child(-n + 3) {
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #1d2951;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 2rem;
	line-height: 3.5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	transition: background-color 0.3s ease;
}

.social-icons a:nth-child(-n + 3):hover {
	background-color: #fff;
	color: #1d2951;
}

.resume {
	position: relative;
	bottom: 0.2rem;
	/* left: 0.5rem; */
	padding: 0.7rem 1.5rem;
	font-size: 1.5rem;
	border: 0.2rem solid #1d2951;
	border-radius: 0.2rem;
	transition: background-color 0.3s ease;
}

.resume:hover {
	color: #fff;
	background-color: #1d2951;
	text-decoration: none;
}

#sideNav .navbar-nav .nav-item .nav-link {
	font-weight: 800;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	#sideNav {
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 17rem;
		height: 100vh;
	}
	#sideNav .navbar-brand {
		display: flex;
		margin: auto auto 0;
		padding: 0.5rem;
	}
	#sideNav .navbar-brand .img-profile {
		max-width: 10rem;
		max-height: 10rem;
		border: 0.5rem solid rgba(255, 255, 255, 0.2);
	}
	#sideNav .navbar-collapse {
		display: flex;
		align-items: flex-start;
		flex-grow: 0;
		width: 100%;
		margin-bottom: auto;
	}
	#sideNav .navbar-collapse .navbar-nav {
		flex-direction: column;
		width: 100%;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item {
		display: block;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
		display: block;
	}
}

section.resume-section {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
	max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
	min-width: none;
}

@media (min-width: 768px) {
	section.resume-section {
		min-height: 100vh;
	}
	section.resume-section .resume-item .resume-date {
		min-width: 18rem;
	}
}

@media (min-width: 992px) {
	section.resume-section {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
}

@media (max-width: 430px) {
	.resume {
		display: block;
		height: 58px;
		width: 205px;
		text-align: center;
		padding-bottom: 3rem;
	}
}

.bg-primary {
	background-color: black !important;
}

.text-primary {
	color: #1d2951 !important;
}

a {
	color: #1d2951;
}

a:hover {
	color: red;
}
